body {
font-family: Arial;
background-color: #00bebe;
padding: 50px;
}
.body{
background-color: #FFF;
padding: 20px;
border-radius: 5px;
text-align: center;
}


.crossword tr td div {
    height: 50px;
    font-size: 39px;
}
.crossword-symbol{
    border: #000000 1px solid;
}

input[type="text"] {
    font-size: 40px;
    width: 50px;
    border: none;
    text-align: center;
}
#crossword{
    display: inline-block;}

.questions{
    font-size: 40px;
    display: inline-block;
}
